body {background-color: rgb(17, 13, 13);}
.head {color: white;
text-align: center; 
border: solid rgb(44, 44, 44);
padding: 50px 50px;
background-color: aqua;}
.body {color: beige;}
.background {}
#id {margin: 0 auto;
    border: 5px solid white;
    background-color: #ff9500; 
width: 100px;
padding: 1em;}

#ok {margin: 0 auto;
    border: 5px solid white;
    background-color: #ff9500; ; 
width: 100px;
padding: 1em;}

#lol {margin: 0 auto;
    border: 5px solid white;
    background-color: #ff9500; 
width: 100px;
padding: 1em;}