body {background-color: rgb(17, 13, 13);}
.head {color: rgb(255, 0, 0);
text-align: center; 
border: solid rgb(44, 44, 44);
padding: 50px 50px;
background-color: aqua;
border-radius: 10px;
font-family: 'Ubuntu', sans-serif;
font-size: 64px;}
.body {color: beige;}
.background {}
.head2 {margin: 0 auto;
    border: 5px solid white;
    background-color: #ff9500;
    font-family: 'Ubuntu', sans-serif;
width: 50vw;
padding: 1em;
border-radius: 20px;
text-align: center;} 
.body{text-align: center;
    font-family: 'Montserrat', sans-serif;
font-weight: bold;}
.tired {width:50%}


